/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/
#include "corneish_zen.dtsi"
#include <dt-bindings/led/led.h>
#include <zmk-input-inertia/input/processor/input_inertia.dtsi>

/ {
    chosen {
        /* The physical right-side e-ink panel has been removed. */
        /delete-property/ zephyr,display;
        /delete-property/ zmk,display;
        zmk,battery = &vbatt;
        zmk,underglow = &led_strip;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        row-gpios
            = <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        col-gpios
            = <&gpio1 11 GPIO_ACTIVE_HIGH>
            , <&gpio1 13 GPIO_ACTIVE_HIGH>
            , <&gpio1 15 GPIO_ACTIVE_HIGH>
            , <&gpio0 2 GPIO_ACTIVE_HIGH>
            , <&gpio0 29 GPIO_ACTIVE_HIGH>
            , <&gpio0 31 GPIO_ACTIVE_HIGH>
            ;
    };

    ext-power {
        compatible = "zmk,ext-power-generic";
        label = "EXT_POWER";
        control-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        init-delay-ms = <50>;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };

    /*
     * The right half is now the split central, so the TPS43 feeds ZMK's
     * pointing pipeline directly. Cursor inertia therefore runs locally and
     * does not consume split-link bandwidth.
     */
    tps43_input: tps43_input {
        compatible = "zmk,input-listener";
        device = <&tps43>;
        input-processors = <&zip_inertia>;
    };
};

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <6>;
};

/* Trackball-like cursor momentum. */
&zip_inertia {
    trigger-ms = <30>;
    move-decay-factor-int = <93>;
    move-report-interval-ms = <20>;
    move-threshold-start = <8>;
    move-threshold-stop = <1>;

    scroll-decay-factor-int = <85>;
    scroll-report-interval-ms = <50>;
    scroll-threshold-start = <2>;
    scroll-threshold-stop = <0>;
};

/* Disable the right-side display inherited from the stock Zen v2 board DTS. */
&epd {
    status = "disabled";
};

&spi0 {
    status = "disabled";
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <12>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

&pinctrl {
    /* Former display header: P0.17 = SDA, P0.20 = SCL. */
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };

    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <400000>;

    tps43: iqs5xx@74 {
        status = "okay";
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;

        /* Former display control pins: P1.04 = nRST, P1.06 = RDY. */
        reset-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
        rdy-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;

        one-finger-tap;
        two-finger-tap;
        press-and-hold;
        press-and-hold-time = <250>;

        scroll;
        natural-scroll-x;
        natural-scroll-y;

        bottom-beta = <5>;
        stationary-threshold = <5>;

        /* Add switch-xy / flip-x / flip-y here if mounting orientation needs it. */
    };
};
